@page "/allnews"
@using WeBScraper_CourseProject_.Data
@inject IScraperService ScraperService

<h3>AllNews</h3>


@if (LstData == null)
{
    <p><em>Loading...</em></p>
    <div class="card" aria-hidden="true">
        <img src="..." class="card-img-top" alt="..." style="width:250px;height:250px">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
            <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
        </div>
    </div>
        <div class="card" aria-hidden="true">
        <img src="..." class="card-img-top" alt="..." style="width:250px;height:250px">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
            <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
        </div>
    </div>
    <div class="card" aria-hidden="true">
        <img src="..." class="card-img-top" alt="..." style="width:250px;height:250px">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
            <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
        </div>
    </div>
    <div class="card" aria-hidden="true">
        <img class="card-img-top" alt="..." style="width:250px;height:250px">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
            <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
        </div>
    </div>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in LstData)
        {


            <div class="col">
                <div class="card h-100">
                    <img src="@item.Img" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">@item.Title</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" 
                        @onclick="(() => ShowNews(item.Img,item.Title,item.Details, item.Id))">Add to  
                        <i class=" bi bi-heart"></i>
    </button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><a href="@item.Details">Details</a></small>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    public List<Article> LstData;    
    News news = new News();   

    protected override async Task OnInitializedAsync()
    {
        LstData = await ScraperService.GetAllNews();
    }


    async Task ShowNews(string image, string title, string details, int id)
    {
        if (news == null)
        {
            news = new News
                {
                    Img = image,
                    Title = title,
                    Details = details,
                    NewsId =  id
                };
            await ScraperService.AddNews(news);
            news = null;
        }
        else
        {
            news.Img = image;
            news.Title = title;
            news.Details = details;
            news.NewsId = id;
            await ScraperService.AddNews(news);
            news = null;
        }
       
    }


}
