<AuthorizeView>
     <NotAuthorized>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>         

    </NotAuthorized>

    
    <Authorized>
        <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WeBScraper[CourseProject]</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>  
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="allnews">
                <span class="bi bi-newspaper mr-4" aria-hidden="true"></span> News Feed
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="belarusnews" hidden="true">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Belarus News
            </NavLink>
        </div>      
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uzbekistannews" hidden="true">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Uzbekistan News
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sportnews" hidden="true">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sport News
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gamesnews" hidden="true">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gaming Industry News
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="moviesnews" hidden="true">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Movies News
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="musicnews" hidden="true">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Music News
            </NavLink>
        </div>       
    </nav>
</div>

    </Authorized>

   
</AuthorizeView>



@code {
    private bool collapseNavMenu = true;  

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
